
    <!-- Header -->
    <header class="masthead text-white text-center">
      <div class="container mb-5">
        <nav class="navbar navbar-expand-md navbar-transparent">
          <div class="container">
            <a class="navbar-brand text-dark">Test Project</a>
            <a id='signin_btn' href="/login" class="btn btn-primary btn-outline-neutral btn-round pl-4 pr-4">Sign In</a>
          </div>
        </nav>
      </div>
        <div class="container mt-5 p-4">
          <div class="row">
            <div class="col-xl-9 mx-auto p-4">
              <h1 class="mb-5 text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</h1>
              <p class="text-secondary">- Lorem Ipsum -</p>
            </div>
          </div>
        </div>
      </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Lorem Ipsum</h3>
              <p class="lead mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Lorem Ipsum</h3>
              <p class="lead mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Lorem Ipsum</h3>
              <p class="lead mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img icon-awesome"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Lorem Ipsum</h2>
            <p class="lead mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img icon-awesome"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Lorem Ipsum</h2>
            <p class="lead mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img icon-awesome"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Lorem Ipsum</h2>
            <p class="lead mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Lorem Ipsum...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" alt="">
              <h5>Lorem</h5>
              <p class="font-weight-light mb-0">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" alt="">
              <h5>Lorem</h5>
              <p class="font-weight-light mb-0">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" alt="">
              <h5>Lorem</h5>
              <p class="font-weight-light mb-0">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer-area footer--light">
      <div class="footer-big">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="footer-widget">
                <div class="widget-about">
                  <h2 class="mb-3">Test Project</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="footer-widget">
                <div class="footer-menu footer-menu--1">
                  <h4 class="footer-widget-title">Popular Category</h4>
                  <ul>
                    <li>
                      <a href="#">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#">Lorem Ipsum</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="footer-widget">
                <div class="footer-menu">
                  <h4 class="footer-widget-title">Our Company</h4>
                  <ul>
                    <li>
                      <a href="#">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#">Lorem Ipsum</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="footer-widget">
                <div class="footer-menu no-padding">
                  <h4 class="footer-widget-title">Help Support</h4>
                  <ul>
                    <li>
                      <a href="#">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#">Lorem Ipsum</a>
                    </li>
                    <li>
                      <a href="#">Lorem Ipsum</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mini-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-text">
                <p>© 2021
                  All rights reserved. Created by
                  <a href="https://nikyushosting.com" target="_blank">Geivison Sales</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>